<!--
/**
 * Copyright 2018 Nippon Information and Communication. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 -->
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./common/commonHead') %>
</head>
<body>
  <div id="wrapper">
    <%- include('./common/commonNavi') %>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header">回答登録画面</h3>
          </div>
          <div class="col-lg-6">
            <!-- modify form -->
            <form role="form" name="form" method="post">
              <!-- security setting -->
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label>質問</label>
                  <textarea class="form-control" rows="2" name="question"
                   value="<%= body['question'] %>"><%= body['question'] %></textarea>
                   <p class="help-block">登録文章にシングルクォーテーションまたはダブルクオーテーションは除外して下さい</p>
                <label>回答</label>
                  <textarea class="form-control" rows="2" name="answer"
                   value=""></textarea>
                   <p class="help-block">登録文章にシングルクォーテーションまたはダブルクオーテーションは除外して下さい</p>
                <label>URL(オプション)</label>
                  <textarea class="form-control" rows="2" name="url" value=""
                   placeholder="URLを入力して下さい...."></textarea>
                  <p class="help-block"></p>
              </div>
              <p>
                <button type="submit" class="btn btn-info" name="id" value="<%= body['id'] %>"
                 formaction="./registfaq">追加</button>
                <a href="/fb" class="btn btn-warning" role="button">戻る</a>
              </p>
            <!-- /modify form -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./common/commonScripts') %>
  <%- include('./common/commonScriptsValidate') %>
</body>
</html>
